# Object files
bin/*.o
src/*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.swp
src/.*.h.swo
src/application
src/dispatcher
src/proxy
src/publisher
src/registrar
src/tester
